@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.play-btn {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-color: white;
  text-decoration: none;
  color: white;
  border: white solid 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 50px;
  width: 50px
}

.play-btn:focus {
  outline: none;
}

.upload-btn {
  padding: 12.5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-color: white;
  text-decoration: none;
  color: white;
  border: white solid 0.1rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  left: 80px;
  top: 20px;
  height: 50px;
}